/* Booking form and calendar styles */

.calendar-datepicker-container {
  display: flex;
  margin: 1rem auto;
  width: auto;
  justify-content: space-evenly;
}

.selections {
  display: flex;
  gap: 1rem;
  width: 50vw;
  margin-bottom: 1rem;
}

.addOns, .room-dates {
  width: 50%;
}

.addOns {
  padding: 0rem 0rem 0rem 1.5rem;
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  height: 30%;
}

.addOns label {
  display: block;
}

legend.mt-4.top {
  margin-top: 1.5rem !important;
  font-size: 1rem;
}

/* Calendar and key */

.calendar-key-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.key-container {
  width: 15vw;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  order: 2;
  padding: .5rem;
  margin-top: 1rem;
}

.key-day {
  display: flex;
  gap: .5rem;
}

.key-day .day {
  height: 1.5rem;
}

.month {
  margin-bottom: 0;
}

.calendar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 35vh;
  padding-top: 1rem;
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: .25rem;
  margin: .5rem .5rem;
  height: 25vh;
}

.day {
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f4f4f4;
  border-radius: 6px;
  border: 1px solid #ddd;
  font-size: 0.9rem;
  transition: background 0.2s, transform 0.1s;
  color: grey;
}

.day:hover {
  background: #eaeaea;
  transform: scale(1.05);
}

/* Booked dates */
.booked {
  background: #bd9321;
  border-color: #7b4002;
  color: #b26229;
  font-weight: 600;
}

.booked:hover {
  background: #d6caa5;
}